// Style Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Style Fairplay
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';
@import './reset.scss';

@mixin font-playfair {
    font-family: 'Playfair Display', serif;
}
@mixin font-inter {
    font-family: 'Inter', sans-serif;
}

.general-button{
    height: 62px;
    padding: 0 45px;
    border-radius: 10px 11px 60px 60px;
    color: $white-culture;
    width: fit-content;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    @include d-flex-center();
    position: relative;
    z-index: 10;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    &::before{
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: '';
        position: absolute;
        z-index: -1;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transition: transform 0.4s linear;
        -webkit-transition: transform 0.4s linear;
        -moz-transition: transform 0.4s linear;
        -ms-transition: transform 0.4s linear;
        -o-transition: transform 0.4s linear;
        transform-origin: right center;
}
    &.brown{
        border: 1px solid $brown-antique;
       &::before{
            background-color: $brown-antique;
       }
       &:hover{
            color: $brown-antique;
       }
    }
    &.gray{
        border: 1px solid $basic-gray;
        color: $black;
        &::before{
            background-color: $basic-gray;
        }
    }
    &.orange{
        border: 1px solid $orange-terra;
        &::before{
            background-color: $orange-terra;
        }
        &:hover{
            color: $orange-terra;
        }
    }
    &:hover{
        text-decoration: none;
        &::before{
            transform: scale(0,1);
            -webkit-transform: scale(0,1);
            -moz-transform: scale(0,1);
            -ms-transform: scale(0,1);
            -o-transform: scale(0,1);
        }
    }
}
.text-decoration-underline{
    text-decoration: underline;
}
.blank-header{
    width: 100%;
    height: 60px;
    background-color: $white-culture;
    @media (max-width: 768px) {
        display: none;
    }
}
#main-statue{
    position:relative;
    top:0;
    transition: all 2s;
}
#page-header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    background-color: $white-culture;
    @media (max-width: 768px) {
        display: none;
    }
    .wrapper{
        .menu-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;

            position: relative;
            &::before{
                position: absolute;
                z-index: 9;
                left: 0;
                top: 1px;

                content: '';
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, rgba(30, 30, 35, 0.5) 0%, rgba(30, 30, 35, 0) 0.01%, rgba(30, 30, 35, 0.5) 49.48%, rgba(30, 30, 35, 0) 100%);;
            }
            &::after{
                position: absolute;
                z-index: 9;
                left: 0;
                bottom: 1px;

                content: '';
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, rgba(30, 30, 35, 0.5) 0%, rgba(30, 30, 35, 0) 0.01%, rgba(30, 30, 35, 0.5) 49.48%, rgba(30, 30, 35, 0) 100%);;
            }
            .menu-item{
                a{
                    color: $black;
                    text-align: center;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 100%;

                        z-index: 9;
                        background-color: $black-raisin;
                        left: 50%;
                        top: 0;

                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.2s linear;
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 100%;

                        z-index: 9;
                        background-color: $black-raisin;
                        right: 50%;
                        top: 0;

                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.2s linear;
                    }
                    &:hover{
                        &::before{
                            opacity: 1;
                            visibility: visible;
                            left: -8px;
                        }
                        &::after{
                            opacity: 1;
                            visibility: visible;
                            right: -8px;
                        }
                    }
                }
            }
        }
    }
}
#page-header--mobile{
    width: 100%;
    height: 65px;
    padding: 0 30px;
    display: flex;

    align-items: center;
    justify-content: end;
    position: fixed;
    top: 0;

    left: 0;
    z-index: 999;
    background-color: $white;
    display: none;
    @media (max-width: 768px) {
        display: flex;
    }
    .header-icon-action{
        position: relative;
        z-index: 10;
        width: 35px;
        height: 3px;
        background-color: $black;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: -10px;
            width: 35px;
            height: 3px;
            z-index: 9;
            background-color: $black;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transform-origin: center center;
        }
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -10px;
            width: 35px;
            height: 3px;
            z-index: 9;
            background-color: $black;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transform-origin: center center;
        }
        &.show-action{
            background-color: $white;
            &::before{
                top: 0;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            &::after{
                top: 0;
                bottom: unset;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }
    }
}
#page-menu--mobile{
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 999;
    min-height: calc( 100vh - 65px);
    width: 100%;
    background-color: $white;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    @media (max-width:768px) {
        display: flex;
    }
    &.show-action{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    &::before{
        position: absolute;
        right: 40px;
        top: -9px;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
        z-index: 1;
        filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1))    ;
        -webkit-filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1))    ;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        .menu-item{
            text-align: center;
            width:100%;
            a{
                color: $black-raisin;
                font-size: 25px;
                padding: 20px 0;
                width: 100%;
                border-bottom: 1px solid #EEEEEE;
            }
        }
    }
}
#page-body{
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
        padding-top: 65px;
    }
    .body-pattern-background{
        position: absolute;
        inset: 0;
        z-index: -1;
        background-repeat: repeat;

        opacity: 0.01;
    }
}
.homepage{
    &__head-introduce{
        margin-top: -4vw;
        background-color: $white-culture;
        .wrapper{
            display: grid;
            grid-template-columns: 60% 40%;
            position: relative;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            .left{
                padding-right: 40px;
                position: relative;
                z-index: 11;
                @media (max-width: 768px) {
                    padding-right: 0;

                }
                img{
                    width: 100%;
                    @media (max-width: 768px) {
                        width: 80%;
                    }
                }
            }
            .right{
                // padding-right:calc( 100% - 332px);
                position: absolute;
                content: '';
                width: 100%;

                height: 100%;
                @media (max-width: 768px) {
                    position: relative;
                }
                .container, .row{
                    height: 100%;
                    .col-7{
                        position: relative;
                        z-index: -1;
                    }
                }
                .group-slider{
                    position: relative;
                    display: flex;
                    position: relative;
                    z-index: 99;

                    padding-top: 10%;
                    flex-direction: column;
                    .top-image{
                        margin-bottom: 100px;
                        @media (max-width: 768px) {
                            margin-bottom: 60px;
                        }
                        img{
                            width: 332px;
                        }
                    }
                }
                .content-introduce-slider{
                    position: relative;
                    width: 200%;
                    display: flex;

                }
                .content-introduce-items{
                    position: absolute;
                    top: 0;
                    left: 22.5%;
                    transform-origin: center center;
                    animation: comeout-main 0.6s linear forwards;
                    -webkit-animation: comeout-main 0.6s linear forwards;
                    width: 50%;
                    &.active{
                        display: block;
                        opacity: 0;
                        transform:rotate(0) translateY(50%) rotate(0);
                        animation: comeback-main 0.6s linear 0.4s forwards;
                        -webkit-transform:rotate(0) translateY(50%) rotate(0);
                        -moz-transform:rotate(0) translateY(50%) rotate(0);
                        -ms-transform:rotate(0) translateY(50%) rotate(0);
                        -o-transform:rotate(0) translateY(50%) rotate(0);
                        -webkit-animation: comeback-main 0.6s linear 0.4s forwards;
}
                    &.first-times{
                        animation: none;
                        opacity:0;
                        -webkit-animation: none;
}
                    &.first{
                        animation: none;
                        opacity: 1;
                        left: 0;
                        transform: translate(0);
                        -webkit-transform: translate(0);
                        -moz-transform: translate(0);
                        -ms-transform: translate(0);
                        -o-transform: translate(0);
}
                }
                .next-button-container{
                    position: absolute;
                    top: 140px;
                    left: 50%;
                    content: '';

                    z-index: 99;
                    &:hover{
                        &::before{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;

                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $white;

                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                        border-radius: 50%;
                        opacity: 0;
                        visibility: hidden;

                        transition: all 0.2s linear;
                    }
                    button{
                        font-size: 30px;
                        background-color: transparent;
                        color: #1E1E23;
                        opacity: 0.3;

                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .middle{
                    .content{
                        font-size: 34px;
                        font-weight: 300;
                        @include font-playfair() ;
                        line-height: 46px;
                    }
                    .line-division{
                        width: 100%;
                        height: 4px;
                        position: relative;
                        margin: 30px 0 15px;
                        &::before{
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: '';

                            background: linear-gradient(90deg, #C5977A 0%, rgba(197, 151, 122, 0) 100%);
                            height: 100%;
                            width: 120%;
                            z-index: 9;
                        }
                    }
                    .sub-content{
                        font-size: 18px;
                        font-style: italic;
                        @include font-inter();
                    }
                }
                .bottom{
                    margin-top: 8vw;
                }
            }
            .white-background{
                position: absolute;
                bottom: -20vw;
                left: 0;
                content: '';

                z-index: 15;
                width: 100%;
                height: 40vw;
                background: linear-gradient(180deg, rgba(245, 245, 245, 0) 27.73%, #F5F5F5 51.61%);;

                transform: translateY(-50%);
            }
        }
    }
    &__cabinet{
        position: relative;
        z-index: 15;
        margin-top: -10vw;
        margin-bottom: 120px;
        @media (max-width: 768px) {
            margin-top: 300px;
            margin-bottom: 80px;
        }
        .wrapper{
            width: 1267px;
            margin: 0 auto;
            position: relative;
            background-color: $brown-antique;
            @media (max-width: 1440px) {
                width: 1190px;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
            .image-decoration{
                position: absolute;
                inset: 0;
                content: '';
                z-index: 1;

                background-size: cover;
                background-repeat: repeat;
                background-position: center center;
                opacity: 0.6;
            }
            .inner-side{
                display: flex;
                align-items: center;
                padding: 65px 0;
                position: relative;

                z-index: 10;
                @media (max-width: 1440px) {
                    padding: 60px;
                }
                @media (max-width: 768px) {
                    justify-content: center;
                    flex-direction: column;
                }
                .left{
                    text-align: center;
                    margin-right: 100px;
                    @media (max-width: 768px) {
                        margin-right: 0;
                        margin-bottom: 60px;
                    }
                    h1{
                        font-size: 70px;
                        font-weight: 700;
                        white-space: nowrap;
                        word-break: keep-all;
                    }
                    h3{
                        font-size: 24px;
                        font-style: italic;
                        font-weight: 400;
                    }
                }
                .right{
                    text-align: center;
                    p{
                        font-size: 17px;
                        line-height: 21px;
                        @include font-inter();
                    }
                    .general-button{
                        height: 32px;
                        margin: 37px auto 0;
                        color: $black;
                    }
                }
            }
            .image-background{
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';

                z-index: 9;
                left: 0;
                top: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__working{
        margin-bottom: 120px;
        @media (max-width: 768px) {
            margin-bottom: 80px;
        }
        .container{
            text-align: center;
        }
        .amount{
            font-size: 75px;
            font-weight: 700;
        }
        .title{
            font-size: 26px;
            font-weight: 700;
        }
        .general-button{
            margin: 20px auto 0 ;
        }
    }
    &__service{
        margin-bottom: 120px;
        position: relative;
        @media (max-width: 768px) {
            margin-bottom: 80px;
        }
        &::before{
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 40px;

            content: '';
            z-index: 1;
            background: linear-gradient(90deg, $black-background 0%, $white-culture 54.69%, rgba(245, 245, 245, 0) 100%);
        }
        .title-side{
            margin-bottom: 30px;
            @include p-relative-10();
            h1{
                font-size: 55px;
                font-weight: 700;
                text-align: center;
            }
            .line-trim{
                position: absolute;
                top: 40px;
                left: 0;
                content: '';

                z-index: 9;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #D47861 0%, rgba(197, 151, 122, 0) 35.42%, rgba(202, 142, 115, 0) 64.58%, #D47861 100%);
            }
        }
        .introduce-side{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 100px;
            margin-bottom: 40px;

            @include p-relative-10();
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                row-gap: 40px;
            }
            .item{
                text-align: center;
                .head-image{
                    width: 168px;
                    height: 168px;
                    margin-bottom: 18px;
                    &:hover{
                        animation: bounce 1s ease;
                    }
                }
                .job-position{
                    font-size: 25px;
                    font-weight: 700;
                    color: $orange-terra;
                    margin-bottom: 18px;
                }
                .content{
                    font-size: 15px;
                    line-height: 18px;
                    @include font-inter();
                }
            }
        }
        .button-side{
            position: relative;
            &::before{
                position: absolute;
                bottom: 40px;
                left: 0;
                content: '';

                z-index: 9;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #D47861 0%, rgba(197, 151, 122, 0) 35.42%, rgba(202, 142, 115, 0) 64.58%, #D47861 100%);
            }
        }
    }
    &__specific{
        position: relative;
        margin-bottom: 200px;
        @media (max-width: 768px) {
            margin-bottom: 120px;
        }
        &::before{
            position: absolute;
            left: 0;
            top: 40px;

            right: 0;
            bottom: 40px;
            z-index: -1;

            content: '';
            background: linear-gradient(90deg, $black-background 0%, $white-culture 54.69%, $black-background 100%);
        }
        .specific-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 60px;

            position: relative;
            margin-bottom: 20px;
            .specific-item{
                position: relative;
                &:hover{
                    .content-side{
                        opacity: 1;
                    }
                }
                img.image-background{
                    width:100%;
                    transition: all 0.25s linear;
                }
                .content-side{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 100%;

                    height: 100%;
                    content: '';
                    z-index: 10;
                    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);

                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    opacity: 0;
                    transition: opacity 0.3s linear;
                    .name{
                        @include font-inter();
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    .price{
                        font-size: 28px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 10px;
                    }
                    .day-production{
                        margin-bottom: 5px;
                    }
                    .link-product{
                        display: flex;
                        width: fit-content;
                        align-items: center;
                        margin-left: auto;
                        span{
                            color: $dark-gray;
                            display: block;
                            &:nth-child(1){
                                padding: 3px 6px;
                                font-size: 8px;
                                border: 1px solid $dark-gray;
                                border-radius: 10px;

                                height: fit-content;
                                margin-right: 1px;
                            }
                        }
                    }
                }
            }
            &::before{
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 9;

                content: '';
                height: 5px;
                width: 40%;
                transform:  translateY(-50%);

                background: linear-gradient(90deg, #C5977A 0%, rgba(197, 151, 122, 0) 100%);
            }
            &::after{
                position: absolute;
                top: 50%;
                right: 0;
                z-index: 9;

                content: '';
                height: 5px;
                width: 40%;
                transform:  translateY(-50%);

                background:  linear-gradient(270deg, #1E1E23 0%, rgba(30, 30, 35, 0) 100%);;
            }
        }
    }
    &__domain-expertise{
        position: relative;
        @include padding-left-follow-container();
        margin-bottom: 120px;

        &:before{
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            content: '';
            width: 100%;
            height: 100%;
            background-color: #C5977A;

            opacity: 0.3;
        }
        .wrapper{
            display: flex;
            align-items: center;
            @include p-relative-10();
            @media (max-width: 768px) {
                flex-direction: column;
                padding: 0 15px 40px;
            }
            .map-side{
                width: 580px;
                height: 580px;
                position: relative;
                margin-left: 40px;

                margin-right: 40px;
                @media (max-width: 768px) {
                    width: calc( 100vw - 130px);
                }
                &::before{
                    position: absolute;
                    left: -40px;
                    top: -40px;
                    content: '';

                    width: 660px;
                    height: 660px;
                    clip-path: polygon(40px 0, calc( 100% - 40px) 0, 100% 40px, 100% calc( 100% - 40px ), calc( 100% - 40px) 100%, 40px 100%, 0 calc( 100% - 40px), 0 40px);
                    background-color: $orange-terra;

                    z-index: -1;
                }
            }
            #map-expertise{
                width: 580px;
                height: 580px;
                background-color: white;

                position: relative;
                margin-left: 40px;
                @media (max-width: 768px) {
                    margin: 0 65px 85px;
                    width: calc( 100vw - 130px);
                    height: calc( 100vw - 130px);
                }
                img.main-map{
                    width: 580px;
                    height: 580px;
                    @include p-relative-10();
                    @media (max-width: 768px) {
                        width: calc( 100vw - 130px);
                        height: calc( 100vw - 130px);
                    }
                }
                &::before{
                    position: absolute;
                    left: -50px;
                    top: -50px;
                    content: '';
                    width: 680px;
                    height: 680px;

                    clip-path: polygon(50px 0, calc( 100% - 50px) 0, 100% 50px, 100% calc( 100% - 50px ), calc( 100% - 50px) 100%, 50px 100%, 0 calc( 100% - 50px), 0 50px);
                    background-color: $orange-terra;

                    z-index: -1;
                    @media (max-width: 768px) {
                        width: calc( 100vw - 30px );
                        height: calc( 100vw - 30px );
                    }
                }
                .point-address{
                    position: absolute;
                    content: '';
                    z-index: 10;
                    left: 105px;

                    top: 250px;
                    // @media (max-width: 768px) {
                    //     left: calc( 105px * 580 / (100vw - 130px));
                    //     top: calc( 250px * 580 / (100vw - 130px))
                    // }
                    &:hover{
                        animation: bounce-10 1s linear;
                    }
                    img{
                        width: 43px;
                        height: 54px;
                    }
                    &:nth-child(2){
                        left: 209px;
                        top: 234px;
                        // @media (max-width: 768px) {
                        //     left: calc( 209px * (100vw - 130px) / 580);
                        //     top: calc( 234px * 580 / (100vw - 130px));
                        // }
                    }
                    &:nth-child(3){
                        left: 262px;
                        top: 304px;
                        // @media (max-width: 768px) {
                        //     left: calc( 262px * 580px / (100vw - 130px));
                        //     top: calc( 304px * 580px / (100vw - 130px));
                        // }
                    }
                    &:nth-child(4){
                        left: 292px;
                        top: 186px;
                        // @media (max-width: 768px) {
                        //     left: calc( 292px * 580px / (100vw - 130px));
                        //     top: calc( 186px * 580px / (100vw - 130px));
                        // }
                    }
                    &:nth-child(5){
                        left: 398px;
                        top: 406px;
                        // @media (max-width: 768px) {
                        //     left: calc( 398px * 580px / (100vw - 130px));
                        //     top: calc( 406px * 580px / (100vw - 130px));
                        // }
                    }
                    &:nth-child(6){
                        left: 453px;
                        top: 168px;
                        // @media (max-width: 768px) {
                        //     left: calc( 453px * 580px / (100vw - 130px));
                        //     top: calc( 168px * 580px / (100vw - 130px));
                        // }
                    }
                }
            }
            .content-side{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: calc( 100% - 580px );
                padding: 0 20px;
                @media (max-width: 768px ) {
                    width: 100%;
                }
                .title{
                    text-align: center;
                    font-size: 55px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                .content{
                    max-width: 330px;
                    font-size: 15px;
                    text-align: center;
                    @include font-inter();

                    margin-bottom: 60px;
                }
            }
        }
        .background-image{
            position: absolute;
            left: 0;
            top: 0;
            content: '';

            width: 100%;
            height: 100%;
            z-index: 1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__expertise{
        position: relative;
        margin-bottom: 200px;
        @media (max-width: 768px) {
            margin-bottom: 120px;
        }
        @media (max-width: 595px) {
            margin-bottom: 80px;
        }
        &::before{
            position: absolute;
            z-index: -1;
            top: 80px;
            bottom: 40px;

            left: 0;
            right: 0;
            content: '';
            background: radial-gradient(113.02% 50.1% at 50% 50.1%, $white-culture 0%, $black-background 100%);
        }
        .title-side{
            text-align: center;
            h1{
                font-size: 55px;
                font-weight: 700;
            }
            h3{
                font-size: 25px;
                font-weight: 400;
                margin-top: 10px;
                font-style: italic;
            }
        }
        .expertise-container{
            padding: 80px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;

            max-width: 1200px;
            margin: 0 auto;
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                row-gap: 0px;
                padding: 80px 20px 160px;
            }
            @media (max-width: 595px) {
                padding: 80px 15px 0px;
            }
            .right{
                padding-top: 144px;
                @media (max-width: 768px) {
                    padding-top: 0;
                }
            }
            counter-increment: orderExpertise;
            .expertise-item{
                position: relative;
                display: flex;
                margin-bottom: 80px;
                @media (max-width: 768px) {
                    margin-bottom: 50px;
                }
                @media (max-width: 595px) {
                    flex-direction: column;
                }
                &:nth-child(1){
                    z-index: 99;
                }
                &:nth-child(2){
                    z-index: 98;
                }
                &:nth-child(3){
                    z-index: 97;
                }
                &:nth-child(4){
                    z-index: 96;
                }
                &.be-right{
                    flex-direction: row-reverse;
                    text-align: right;
                    @media (max-width: 768px) {
                        flex-direction: row;
                        text-align: left;
                    }
                    @media (max-width: 595px) {
                        flex-direction: column;
                        text-align: center;
                    }
                    .content-side{
                        padding-right: 10px;
                        @include p-relative-10();
                        @media (max-width: 768px) {
                            padding-right: 0;
                        }
                        .name{
                            position: relative;
                            right: -40px;
                            left: unset;
                            width: calc( 100% + 40px );
                            @media (max-width: 768px) {
                                left: -40px;
                                right: unset;
                            }
                            @media (max-width: 595px) {
                                left: unset;
                                width: 100%;
                            }
                        }
                        .job-position{
                            margin-left: auto;
                            @media (max-width: 768px) {
                                margin-left: unset;
                            }
                            @media (max-width: 595px) {
                                margin: 0 auto 30px;
                            }
                        }
                    }
                }
                .image-side{
                    text-align: center;
                    img{
                        width: 250px;
                        height: 250px;
                        transition: transform 1s linear;
                        -webkit-transition: transform 1s linear;
                        -moz-transition: transform 1s linear;
                        -ms-transition: transform 1s linear;
                        -o-transition: transform 1s linear;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .content-side{
                    position: relative;
                    top: 200px;
                    @media (max-width: 595px) {
                        top: 0;
                        text-align: center;
                    }
                    .name{
                        font-size: 44px;
                        @include font-playfair();
                        margin-bottom: 10px;
                        font-weight: 400;

                        position: relative;
                        left: -60px;
                        right: unset;
                        width: 110%;
                        @media (max-width: 595px) {
                            width: 100%;
                            left: unset;
                        }
                    }
                    .job-position{
                        font-size: 26px;
                        font-weight: 400;
                        position: relative;
                        margin-bottom: 30px;

                        width: fit-content;
                        @media (max-width: 595px) {
                            margin: 0 auto 30px;
                        }
                        &::before{
                            position: absolute;
                            bottom: -10px;
                            content: '';
                            width: 100%;

                            height: 6px;
                            border-radius: 10px 11px 40px 40px;
                            z-index: 9;

                        }
                        &.first{
                            &::before{
                                background-color: $blue-han;
                            }
                        }
                        &.second{
                            &::before{
                                background-color: $brown-antique;
                            }
                        }
                        &.third{
                            &::before{
                                background-color: $orange-terra;
                            }
                        }
                        &.fourth{
                            &::before{
                                background-color: $dark-gray;
                            }
                        }
                    }
                    .speech{
                        font-size: 15px;
                        @include font-inter();
                        a{
                            display: inline;
                            color: $black-raisin
                        }
                    }
                }
            }
        }
    }
    &__calendar{
        margin-bottom: 120px;
        .wrapper{
            display: grid;
            grid-template-columns: 440px 1fr;
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }
            .left{
                padding: 80px 70px;
                background-color: $orange-terra;
                text-align: center;
                @media (max-width: 768px) {
                    padding: 40px;
                }
                .head-title{
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 85px;
                    .special-text{
                        font-size: 50px;
                        line-height: 58px;
                    }
                }
                .each-type{
                    position: relative;
                    padding: 10px 20px 5px 50px;
                    @include d-flex-center();
                    justify-content: space-between;
                    &:hover{
                        &::before{
                            opacity: 1;
                        }
                    }
                    &:not(:last-child){
                        margin-bottom: 20px;
                        margin-top: 30px;
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;

                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        background-color: $white-culture;

                        opacity: 0.2;
                        transition: opacity 0.6s linear
                    }
                    .name-side{
                        @include p-relative-10();
                        .name{
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .content{
                            font-size: 12px;
                            font-weight: 400;
                        }
                        .link-other{
                            font-size: 12px;
                            font-weight: 400;
                            text-decoration: underline;
                            color: $black;
                        }
                    }
                    .date-side{
                        @include p-relative-10();
                        p{
                            &:nth-child(1),&:nth-child(3){
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 22px;
                            }
                            &:nth-child(2){
                                font-size: 37px;
                                font-weight: 700;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
            .right{
                background-color: $blue-han;
                display: flex;
                flex-direction: column;
                .head-side{
                    img{
                        width: 100%;
                        animation: fade-in-smooth 0.6s linear;
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                }
                .date-side{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    padding-right: 15px;
                    @media (max-width: 768px) {
                        padding: 20px;
                    }
                    .date-wrapper{
                        text-align: center;
                        p{
                            color: $white-culture;
                            font-size: 14px;
                            &:not(:first-child){
                                font-size: 45px;
                                line-height: 45px;
                                @include font-playfair();
                            }
                        }
                    }
                }
            }
        }
        .button-side{
            a{
                background-color: $brown-antique;
                color: $white-culture;
                @include font-inter();
                width: fit-content;

                padding: 5px 10px;
                border-radius: 20px;
                margin: 25px 0 0 auto;
            }
        }
    }
    &__experience{
        .wrapper{
            background-size: cover;
            background-position: center center;
            background-repeat: repeat;
            padding: 40px 0;
            .title-side{
                position: relative;
                .title{
                    font-size: 52px;
                    text-align: center;
                    margin-bottom: 30px;
                    font-weight: bold;
                }
                // .line-division{
                //     position: absolute;
                //     content: '';
                //     left: 0;
                //     top: 50%;

                // }
                &::before{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;

                    width: 35%;
                    height: 2px;
                    z-index: 9;
                    background: linear-gradient(90deg, #C5977A 0%, rgba(197, 151, 122, 0) 100%);
                }
                &::after{
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;

                    width: 35%;
                    height: 2px;
                    z-index: 9;
                    background: linear-gradient(270deg, #1E1E23 0%, rgba(30, 30, 35, 0) 100%);
                }
            }
            .general-button{
                height: 42px;
            }
        }
    }
}
#page-footer{
    padding: 100px 0 20px;
    background-color: $white-culture;
    .footer-wrapper{
        text-align: center;
        .head-logo{
            margin-bottom: 40px;
            img{
                width: 104px;
                height: 104px;
            }
        }
        .english-menu{
            margin-bottom: 35px;
            .menu-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 60px;

                border-top: 1px solid rgba(31, 31, 35, 0.5);
                border-bottom: 1px solid rgba(31, 31, 35, 0.5);
                @media (max-width: 768px) {
                    padding: 20px 0;
                }
                @media (max-width: 595px) {
                    flex-direction: column;
                }
                .menu-item{
                    @media (max-width: 595px) {
                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                    a{
                        color: $black-raisin;
                        position: relative;
                        z-index: 10;
                        &::before{
                            position: absolute;
                            content: '';
                            left: -8px;
                            top: 0;

                            height: 100%;
                            width: 0;
                            z-index: -1;
                            background-color: $white-culture;

                            transition: all 0.2s linear;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            right: calc( 100% + 8px);
                            top: 0;

                            height: 100%;
                            width: 1px;
                            z-index: -1;
                            background-color: $black-raisin;

                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.2s linear;
                        }
                        &:hover{
                            color: $black-raisin;
                            text-decoration: none;
                            &::before{
                                width: calc( 100% + 16px);
                            }
                            &::after{
                                opacity: 1;
                                visibility: visible;
                                right: -8px;
                            }
                        }
                    }
                }
            }
        }
        .social-side{
            @include d-flex-center();
            margin-bottom: 30px;
            .social-item{
                transition: transform 0.25s linear;
                &:hover{
                    transform: scale(1.2);
                }
                &:not(:last-child){
                    margin-right: 16px;
                }
                img{
                    width: 30px;
                }
            }
        }
        p{
            font-size: 15px;
        }
        .copyright{
            margin-bottom:10px;
        }
        .other-link{
            font-size: 12px;
            color: $black-raisin;
            text-decoration: underline;
            margin-bottom: 30px;
        }
    }
}
.sec-latest-news{
    margin: 0 0 120px;
    .head-title{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
    }
    .news-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
        .news-item{
            padding: 40px 35px;
            text-align: center;
            box-shadow: 4px 4px 10px rgba(30, 30, 35, 0.2);
            .head-image{
                width: 100%;
                margin-bottom: 25px;
            }
            .name{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 14px;
            }
            .line-decoration{
                width: 60px;
                height: 6px;
                border-radius: 10px 11px 40px 40px;
                margin: 0 auto 18px;
            }
            .content{
                font-size: 15px;
                font-weight: 400;
                @include font-inter();
                margin-bottom: 40px
            }
            .link-button{
                @include d-flex-center();
                margin-top: auto;
                width: fit-content;
                padding: 6px 12px;

                border-radius: 50px;
                margin: auto auto 0;
                &:hover{
                    text-decoration: none;
                    span{
                        margin-right: 20px;
                    }
                }
                span{
                    color: $white-culture;
                    font-size: 12px;
                    margin-right: 10px;
                    @include font-inter();

                    transition: all 0.25s linear;
                }
                img{
                    width: 24px;
                    height: 24px;
                }
            }
            &:nth-child(1){
                .line-decoration{
                    background-color: $blue-han;
                }
                .link-button{
                    background-color: $blue-han;
                }
            }
            &:nth-child(2){
                .line-decoration{
                    background-color: $brown-antique;
                }
                .link-button{
                    background-color: $brown-antique;
                }
            }
            &:nth-child(3){
                .line-decoration{
                    background-color: $orange-terra;
                }
                .link-button{
                    background-color: $orange-terra;
                }
            }
        }
    }
}
[data-aos="show-from-left"].expertise-item{
    .image-side{
        transform: translateX(-300px);
        opacity: 0;
        visibility: hidden;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
}
    .content-side{
        .name, .job-position, .speech{
            transform: translateX(-300px);
            opacity: 0;
            visibility: hidden;
        }
        .name{
            transition: all 1s linear .3s;
            -webkit-transition: all 1s linear .3s;
            -moz-transition: all 1s linear .3s;
            -ms-transition: all 1s linear .3s;
            -o-transition: all 1s linear .3s;
}
        .job-position{
            transition: all 1s linear .6s;
            -webkit-transition: all 1s linear .6s;
            -moz-transition: all 1s linear .6s;
            -ms-transition: all 1s linear .6s;
            -o-transition: all 1s linear .6s;
}
        .speech{
            transition: all 1s linear .9s;
            -webkit-transition: all 1s linear .9s;
            -moz-transition: all 1s linear .9s;
            -ms-transition: all 1s linear .9s;
            -o-transition: all 1s linear .9s;
}
    }
    &.aos-animate{
        .image-side{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        .content-side{
            .name, .job-position, .speech{
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
[data-aos="show-from-right"].expertise-item{
    .image-side{
        transform: translateX(300px);
        opacity: 0;
        visibility: hidden;
        transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
}
    .content-side{
        .name, .job-position, .speech{
            transform: translateX(300px);
            opacity: 0;
            visibility: hidden;
        }
        .name{
            transition: all 1s linear .3s;
            -webkit-transition: all 1s linear .3s;
            -moz-transition: all 1s linear .3s;
            -ms-transition: all 1s linear .3s;
            -o-transition: all 1s linear .3s;
}
        .job-position{
            transition: all 1s linear .6s;
            -webkit-transition: all 1s linear .6s;
            -moz-transition: all 1s linear .6s;
            -ms-transition: all 1s linear .6s;
            -o-transition: all 1s linear .6s;
}
        .speech{
            transition: all 1s linear .9s;
            -webkit-transition: all 1s linear .9s;
            -moz-transition: all 1s linear .9s;
            -ms-transition: all 1s linear .9s;
            -o-transition: all 1s linear .9s;
}
    }
    &.aos-animate{
        .image-side{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        .content-side{
            .name, .job-position, .speech{
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
// Animation
@keyframes shows-from-left{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-in-smooth{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out-smooth{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes comeback-main{
    0%{
        transform: rotate(0) translate(0%, 50%) rotate(0);
        opacity: 0;
        -webkit-transform: rotate(0) translate(0%, 50%) rotate(0);
        -moz-transform: rotate(0) translate(0%, 50%) rotate(0);
        -ms-transform: rotate(0) translate(0%, 50%) rotate(0);
        -o-transform: rotate(0) translate(0%, 50%) rotate(0);
    }
    100%{
        transform:rotate(90deg) translate(0%, 50%) rotate(-90deg);
        opacity: 1;
        -webkit-transform:rotate(90deg) translate(0%, 50%) rotate(-90deg);
        -moz-transform:rotate(90deg) translate(0%, 50%) rotate(-90deg);
        -ms-transform:rotate(90deg) translate(0%, 50%) rotate(-90deg);
        -o-transform:rotate(90deg) translate(0%, 50%) rotate(-90deg);
    }
}
@keyframes comeout-main{
    0%{
        transform: rotate(0) translate(-50%, 0) rotate(0);
        opacity: 1;
        -webkit-transform: rotate(0) translate(-50%, 0) rotate(0);
        -moz-transform: rotate(0) translate(-50%, 0) rotate(0);
        -ms-transform: rotate(0) translate(-50%, 0) rotate(0);
        -o-transform: rotate(0) translate(-50%, 0) rotate(0);
}
    100%{
        transform:rotate(90deg) translate(-50%, 0) rotate(-90deg);
        opacity: 0;
        -webkit-transform:rotate(90deg) translate(-50%, 0) rotate(-90deg);
        -moz-transform:rotate(90deg) translate(-50%, 0) rotate(-90deg);
        -ms-transform:rotate(90deg) translate(-50%, 0) rotate(-90deg);
        -o-transform:rotate(90deg) translate(-50%, 0) rotate(-90deg);
}
}
@keyframes bounce{
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-5%);
    }
    75%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes bounce-10{
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-10%);
    }
    75%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}